{% extends "base.html" %}
{% load static %}
{% block content %}
 <!-- Page Header Start -->
 <div class="container py-5 px-2 bg-primary">
    <div class="row py-5 px-4" style="padding-top: 1rem !important;padding-bottom: 1rem !important;">
        <div class="col-sm-6 text-center text-md-left">
            <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">Blog Detail</h1>
        </div>
        <div class="col-sm-6 text-center text-md-right">
            <div class="d-inline-flex pt-2">
                <h4 class="m-0 text-white"><a class="text-white" href="{% url "index" %}">Home</a></h4>
                <h4 class="m-0 text-white px-2">/</h4>
                <h4 class="m-0 text-white">Blog Detail</h4>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Blog Detail Start -->
<div class="container py-5 px-2 bg-white">
    <div class="row px-4">
        <div class="col-12">
            <img class="img-fluid mb-4" src="{{data.thumbnail.url}}" alt="Image">
            <h2 class="mb-3 font-weight-bold">{{data.title}}</h2>
            <div class="d-flex">
                <p class="mr-3 text-muted"><i class="fa fa-calendar-alt"></i> {{data.date}}</p>
                <p class="mr-3 text-muted"><i class="fa fa-folder"></i> {{data.category}}</p>
                <p class="mr-3 text-muted"><i class="fa fa-comments"></i> 15 Comments</p>
            </div>
            <p>{{data.content |safe }}</p>
        </div>
        
        <div class="col-12 py-4">
            <div class="btn-group btn-group-lg w-100">
                {% if previous_post %}
                <a href="{% url 'blogcontent' previous_post.id %}">
                    <button type="button" class="btn btn-outline-primary">
                        <i class="fa fa-angle-left mr-2"></i> Previous</button>
                    </a>
                    {% endif %}
                    {% if next_post %}
                <a href="{% url 'blogcontent' next_post.id %}"><button type="button" class="btn btn-outline-primary">Next<i class="fa fa-angle-right ml-2"></i></button></a>
                {% endif %}
            </div> 
        </div>
        <div class="col-12 py-4">
            <h3 class="mb-4 font-weight-bold">3 Comments</h3>
            {% for singlecmnt in comment %}
            <div class="media mb-4">
                
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="height: 24px;
    width: 26px;"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>
                <div class="media-body">
                    <h4>{{singlecmnt.name}} <small><i>{{singlecmnt.created_at}}</i></small></h4>
                    <p>{{singlecmnt.message}}</p>
                    {% if singlecmnt.replies %}
                    {% for rep in singlecmnt.replies %}
                        <div class="media-body">
                            <h5>{{ rep.name }}<small><i>{{ rep.created_at }}</i></small></h5>
                            <p>{{ rep.replymsg }} </p>
                        </div>
                    {% endfor %}
                    {% endif %}
                    {% if user.is_staff %}
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{singlecmnt.id}}" aria-expanded="false" aria-controls="collapseExample">
                          Reply
                        </button>
                      </p>
                      <div class="collapse" id="collapseExample{{singlecmnt.id}}">
                        <div class="card card-body">
                          <form action="{% url "reply" %}" method="POST">
                            {% csrf_token %}
                            <input type="text" name="commentid" value={{singlecmnt.id}} hidden>
                            <div class="form-group">
                                <label for="message">Message *</label>
                                <textarea name="message" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Leave Reply" class="btn btn-primary">
                            </div>
                          </form>
                        </div>
                      </div>
                      {% endif %}
                      
                </div>
            
            </div>
            {% endfor %}
        </div>
           
        
        <div class="col-12">
            <h3 class="mb-4 font-weight-bold">Leave a comment</h3>
            <form method="POST" action="{% url "comment" %}">
                {% csrf_token %}
                <input type="text" name="blog_id" value="{{data.id}}" hidden>
                <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" name="email">
                </div>

                <div class="form-group">
                    <label for="message">Message *</label>
                    <textarea name="message" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Leave Comment" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Blog Detail End -->
{% endblock  %}